.reviews-top {
    height:280px;
    margin-right:340px;
    margin-top:1px;
    overflow:hidden;
    padding-left:2px;
}

.reviews-top .review-top-item {
    border:1px solid #CBCBCB;
    height:140px;
    overflow:hidden;
    padding:1px;
}

.reviews-top .review-top-item .cat-name {
    color:#a0a0a0;
    font-size:14px;
    padding-left:15px;
}

.reviews-top .review-top-item .name-app {
    font-size:14px;
    overflow:hidden;
    padding-left:15px;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:150px;
}

.reviews-top .review-top-item .stars {
    margin-top:1px;
    padding-left:14px;
}

.reviews-top .review-top-item .stars .gold-star,.app-info .stars .gold-star {
    background:url(../../images/tablet/gold-star.png) no-repeat left center;
    float:left;
    height:12px;
    width:15px;
}

.reviews-top .review-top-item .stars .gray-star,.app-info .stars .gray-star {
    background:url(../../images/tablet/gray-star.png) no-repeat left center;
    float:left;
    height:12px;
    width:15px;
}

.reviews-top .review-top-item .view {
    color:#a0a0a0;
    font-size:14px;
    margin-top:16px;
    padding-left:15px;
}

.reviews-top .review-top-item a .name-app {
    color:#000;
    line-height:16px;
    margin-bottom:0;
    margin-top:15px;
}

.reviews-top .review-top-item:hover {
    background-color:#f4f4f4;
}