#makeMeScrollable {
    height:330px;
    position:relative;
    width:100%;
}

#makeMeScrollable div.scrollableArea img {
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -webkit-user-select:none;
    float:left;
    margin:0;
    padding:0;
    position:relative;
    user-select:none;
}

.main-item {
    margin-left:3px;
    margin-right:2px;
    overflow:hidden;
}

.main-item .app-description {
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border:1px solid #d6d6d6;
    border-radius:8px;
    height:auto;
    margin-top:10px;
}

.main-item .app-description .cms-title .review-ico {
    background:url(http://cdn2.staztic.com/f/images_sprite-cms_2_20130903124331.png) -119px -152px no-repeat;
    display:block;
    float:left;
    height:18px;
    margin:8px 8px 8px 0;
    width:18px;
}

.main-item .app-description .fleft {
    float:left;
}

.main-item .app-description .follow {
    background: linear-gradient(to bottom, #40a5d8 0%,#40a5d8 49%,#2d93c7 50%,#2d93c7 100%,#2d93c7 100%);
    border-radius:2px;
    color:#fff;
    display:inline-block;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#40a5d8',endColorstr='#2d93c7',GradientType=0);
    font-weight:700;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
}

.main-item .app-description .review-widget .follow a {
    color:#fff;
}

.main-item .app-description .review-widget .follow,.review-widget .unfollow {
    font-size:10px;
    height:22px;
    line-height:22px;
    margin-top:3px;
    padding:0 15px;
}

.main-item .app-description .review-widget .review-title {
    color:#323232;
    font-size:16px;
    font-weight:700;
    padding-top:0;
}

.main-item .app-description .review-widget .reviewer-avatar {
    background-color:#FFF;
    box-shadow:0 0 2px #A5A5A5;
    float:left;
    margin-left:-60px;
    margin-right:15px;
    padding:4px;
}

.main-item .app-description .review-widget .reviewer-rating {
    float:right;
}

.main-item .app-description .review-widget .wrap {
    background:url(http://cdn3.staztic.com/f/images_texture1_2_20130903124331.png) 0 0 repeat;
    padding:10px 10px 10px 70px;
}

.main-item .app-description .review-widget a {
    color:#0089CC;
    font-size:14px;
}

.main-item .app-description .review-widget a:hover {
    color:#333;
}

.main-item .app-description .review-widget h2 {
    margin:0;
}

.main-item .app-description .review-widget h2,#app .review-widget p {
    line-height:1.4em;
}

.main-item .app-description .review-widget p {
    line-height:1.4em;
    padding:0;
}

.main-item .app-description .review-description h2{
    
}

.main-item .app-description .reviewer-rating {
    color:#fff;
    float:left;
    overflow:hidden;
    text-align:center;
    width:66px;
}

.main-item .app-description .reviewer-rating .number {
    border-radius:4px 4px 0 0;
    font-size:38px;
    font-weight:700;
    height:46px;
    letter-spacing:-.1em;
    line-height:49px;
    width:64px;
}

.main-item .app-description .reviewer-rating .number span {
    margin-left:-.08em;
}

.main-item .app-description .reviewer-rating .rating9 .number {
    background:#73b84b;
}

.main-item .app-description .reviewer-rating .rating9 .text {
    background:#50a61e;
}

.main-item .app-description .reviewer-rating .text {
    border-radius:0 0 4px 4px;
    font-size:10px;
    line-height:15px;
    text-transform:uppercase;
    width:64px;
}

.main-item .app-item {
    border:1px solid #b5bdc7;
    margin-top:3px;
}

.main-item .app-item .advertising {
    float:left;
    margin-right:3px;
    width:300px;
}

.main-item .app-item .app-detail .wrapper {
    border-bottom:none;
    border-right:none;
}

.main-item .app-item .app-info {
    margin-top:5px;
    overflow:hidden;
}

.main-item .app-item .app-info .android {
    background:url(../../images/android.png) no-repeat;
    display:block;
    height:17px;
    width:145px;
}

.main-item .app-item .app-info .apple {
    background:url(../../images/apple.png) no-repeat;
    display:block;
    height:17px;
    width:145px;
}

.main-item .app-item .app-info .tab-content {
    _height:100px;
    border:1px solid #d6d6d6;
    border-bottom:none;
    border-right:none;
    border-top:none;
    height:auto;
    min-height:100px;
    padding:10px;
}

.main-item .app-screenshoot {
    margin-top:10px;
}

.main-item .cms-title {
    background: linear-gradient(to bottom, #d5d7dc 0%,#cccfd3 100%);
    border-radius:2px;
    color:#3c3c3c;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d7dc',endColorstr='#cccfd3',GradientType=0);
    font-weight:700;
    height:34px;
    line-height:34px;
    padding-left:10px;
}

.main-item .col-md-4,.main-item .col-md-8 {
    padding:0;
}

.main-item .suggest {
    margin-left:10px;
    margin-top:3px;
}

.main-item .suggest-item {
    border:1px solid #b5bdc7;
    margin-bottom:0;
}

a img,iframe {
    border:none;
}