.cat-create {
    padding: 0 15px;
}

.cat-create-form {
    padding-left:2px; 
    padding-right:5px; 
    padding-top:2px;
}

.cat-create-detail {
    padding-left:5px; 
    padding-right:2px; 
    padding-top:2px;
}