#header {
    background: #2a2a32 url(http://cdn1.staztic.com/f/images_special_days_header-snow_1_20131220104137.png) center center no-repeat;
    text-align: center;
    color: #d6d7d8;
}

#header div.logo {
    margin: 0 auto 30px auto;
    height: 86px;
    width: 500px;
    background-size: 500px 86px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://cdn1.iconfinder.com/static/5a8fe200b416c5d92391aa2f64dd6322/assets/img/homepage-logo.png");
}

#header input {
    padding: 13px 13px;
    height: 48px;
    width: 400px
}

#header button {
    padding: 13px 13px;
    height: 48px;
    width: 100px
}

#header #logo {
    background:url(http://cdn1.staztic.com/f/images_sprite_14_20131118123836.png) 0 0 no-repeat;
    display:block;
    float:left;
    height:27px;
    left:2px;
    margin:18px 0 0;
    outline:0;
    padding:0;
    position:relative;
    text-indent:-9000px;
    width:199px;
}

#header .navigation {
    float:left;
}

#header .navigation a {
    color:#bfbfc8;
    display:block;
    float:left;
    font-size:13px;
    line-height:45px;
    text-transform:uppercase;
}

#header .navigation a span.ico {
    background:url(http://cdn1.staztic.com/f/images_sprite_14_20131118123836.png) -130px -215px no-repeat;
    display:inline-block;
    float:left;
    height:18px;
    margin-right:8px;
    margin-top:12px;
    width:18px;
}

#header .navigation a.categories span.arrow {
    background:url(http://cdn1.staztic.com/f/images_sprite_14_20131118123836.png) -190px -176px no-repeat;
    background-position:-190px -176px;
    display:inline-block;
    float:right;
    height:9px;
    margin-left:5px;
    margin-top:18px;
    width:15px;
}

#header .navigation a.categories span.ico {
    background-position:-130px -274px;
    height:13px;
    margin-top:16px;
    width:16px;
}

#header .navigation a.categories.show span.arrow {
    background:url(http://cdn1.staztic.com/f/images_sprite_14_20131118123836.png) -174px -176px no-repeat;
    display:inline-block;
    float:right;
    height:9px;
    margin-left:5px;
    margin-top:18px;
    width:15px;
}

#header .navigation li {
    float:left;
    margin-right:20px;
}

#header .navigation-bar {
    border-bottom:7px solid #71a00e;
    color:#fff;
    font-size:13px;
}

#header .navbar {
    border-bottom:7px solid #71a00e;
    color:#fff;
    font-size:13px;
}

#header .navbar a {
    color: #bfbfc8;
    font-size: 13px;
    text-transform: uppercase;
}

#header .navbar a:hover {
    background:#35353e;
    color:#83b813;
}

#header .navbar .dropdown-menu {
    background:#35353e;
    color: #bfbfc8;
}

#header .navbar .dropdown-menu a:hover {
    background:#35353e;
    color: #83b813;
}

#header .navigation-bar a {
    text-decoration:none;
}

#header .top {
    background:#2a2a32 url(http://cdn1.staztic.com/f/images_special_days_header-snow_1_20131220104137.png) center center no-repeat;
    height:58px;
}

#header .top ul.android li a.android,
#header .top ul.platform-tabs li a.android:hover,
#header .navigation-bar a:hover {
    color:#83b813;
}

#header .top ul.iphone li a.android:hover span.ico,#header .top ul.android li a.android span.ico {
    background-position:-179px -187px;
}

#header .top ul.platform-tabs {
    background-color:#1c1c20;
    float:left;
    margin-left:24px;
    padding:0;
    position:relative;
    z-index:1;
}

#header .top ul.platform-tabs a.iphone {
    border-top:3px solid #ff811f;
}

#header .top ul.platform-tabs li {
    border:none;
    display:block;
    float:left;
    margin-top:0;
    width:138px;
}

#header .top ul.platform-tabs li a {
    color:#bfbfc8;
    display:block;
    font-size:13px;
    line-height:55px;
    text-decoration:none;
    text-transform:uppercase;
}

#header .top ul.platform-tabs li a.android {
    border-top:3px solid #83b813;
}

#header .top ul.platform-tabs li a.iphone span.ico {
    background-position:-154px -187px;
}

#header .top ul.platform-tabs li a.iphone span.ico,#header .top ul.platform-tabs li a.android span.ico {
    background:url(http://cdn1.staztic.com/f/images_sprite_14_20131118123836.png) -130px -187px no-repeat;
    display:inline-block;
    float:left;
    height:26px;
    margin:12px 11px 0 21px;
    text-indent:-999em;
    width:22px;
}

#header .top ul.platform-tabs li a:active,#header .top ul.platform-tabs li.active a {
    background-color:#35353e;
}

#header .wrap-content {
    margin:0 auto;
    padding:0;
    position:relative;
}

#header .nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    background-color: #35353e;
}

#header .dropdown-menu {
    text-align: left;
}

#header .wrap-content ul {
    margin:0;
    padding:0;
}

#header .categories-list {
    display:none;
    background:#fff;
    font-size:13px;
    position:relative;
    display:none;
    margin:20px auto 0 auto;
    position:relative;
    margin-bottom:15px;
}

#header .categories-list .sub-title {
    border-bottom:1px solid #fff;
    margin-bottom:3px;
    margin-top:10px;
    padding:0;
    padding-bottom:3px;
    line-height:25px;
    background:none;
    color:#4a4a55;
    font-size:19px;
    font-weight:normal;
    font-family:'Open Sans',sans-serif,arial;
    border-radius:2px 2px 2px 2px;
    text-transform:uppercase;
}

#header .categories-list h3 a, .categories-list h3 a:hover {
    display:block;
    padding-bottom:3px;
    text-decoration:none;
    color:#4a4a55;
    border-bottom:1px solid #d1d1d1;
}

#header .categories-list ul {
    padding-left:10px;
    text-align: left;
}

ul {
    list-style:none;
}